<ion-view title="">
<!-- <ion-view> -->

  
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  	<!-- <ion-content class="has-header">  -->

  <ion-content>
    <!-- <h1>About</h1> -->

    <div class="about-container">

	    <div id="banner">
			<img src="img/selfbuild-logo.png" alt="Self-build"/>
		</div>
		
		<div id="content">
			<p>Welcome to our self-build App</p>
			
			<ul>
				<li class="style1">We present some stage details from our recent self-build</li>
			</ul>
			
			<a class="style2" href="#/app/buildtasks">Continue</a>
		
		</div>
	</div>
    
  </ion-content>
</ion-view>
